<% content_for :header do %>
  <%= render DC::HeaderHeroComponent.new(
    blacklight_config: blacklight_config,
    user: current_user,
  ) do |component| %>
    <% component.with_picture do %>
      <%= tag.picture hero: 'art-direction' do %>
        <%= tag.source srcset: image_path("sceti-2357w.webp"), media: "(min-width: 1440px)" %>
        <%= tag.source srcset: image_path("sceti-1440w.webp"), media: "(min-width: 900px)" %>
        <%= tag.img src: image_path("sceti-900w.webp"),
                alt: "Two people working in a digital preservation lab." %>
      <% end %>
    <% end %>
    <% component.with_heading do %>
      <%= tag.h1 t("about.hero_heading"), hero: "heading" %>
    <% end %>
  <% end %>
<% end %>

<div class="pl-font-size-lg pl-margin-b-2xl">
  <div class="viewport-margins">
    <h2>
      <%= t("about.purpose.heading") %>
    </h2>
    <%= t("about.purpose.description_html", sceti_url: t("urls.about.sceti")) %>
    <h2>
      <%= t("about.copyright.heading") %>
    </h2>
    <%= t("about.copyright.description_html") %>
    <h2>
      <%= t("about.platform.heading") %>
    </h2>
    <%= t(
      "about.platform.description_html",
      rails_url: t("urls.about.rails"),
      ceph_url: t("urls.about.ceph"),
      iiif_url: t("urls.about.iiif"),
    ).html_safe %>
  </div>
</div>
