<% content_for :header do %>
  <%= render DC::HeaderHeroComponent.new(
    blacklight_config: blacklight_config,
  ) do |component| %>
    <% component.with_picture do %>
      <%= tag.picture hero: 'art-direction' do %>
        <%= tag.source srcset: image_path("sceti-2357w.webp"), media: "(min-width: 1440px)" %>
        <%= tag.source srcset: image_path("sceti-1440w.webp"), media: "(min-width: 900px)" %>
        <%= tag.img src: image_path("sceti-900w.webp"),
                alt: "Two people working in a digital preservation lab." %>
      <% end %>
    <% end %>
    <% component.with_heading do %>
      <%= tag.h1 t("about.hero_heading"), hero: "heading" %>
    <% end %>
  <% end %>
<% end %>

<div class="pl-font-size-lg pl-margin-y-3xl pl-line-length">
  <h2>
    <%= t("about.purpose.heading") %>
  </h2>
  <%= t("about.purpose.description_html", collections_url: t("urls.about.collections"),
                                          new_material_url: t("urls.about.new_material"),
                                          sceti_url: t("urls.about.sceti")) %>
  <h2>
    <%= t("about.copyright.heading") %>
  </h2>
  <%= t("about.copyright.description_html", copyright_help_url: t("urls.about.copyright_help"),
                                            copyright_guide_url: t("urls.about.copyright_guide"),
                                            open_metadata_url: t("urls.about.open_metadata")) %>
</div>
