<% content_for :page_title do %>
  <%= t 'home.page_title', application_name: t('blacklight.application_name') %>
<% end %>

<% content_for :header do %>
  <%= render Catalog::HeaderHeroComponent.new(
    blacklight_config: blacklight_config,
  ) do |component| %>
    <% component.with_picture do %>
      <%= tag.picture hero: 'art-direction' do %>
        <%= tag.source srcset: "https://iiif-images.library.upenn.edu/iiif/2/d3f5f564-76c9-4911-aa5a-141923718c1e/full/2400,/0/default.jpg",
                       media: "(min-width: 1440px)" %>
        <%= tag.source srcset: "https://iiif-images.library.upenn.edu/iiif/2/d3f5f564-76c9-4911-aa5a-141923718c1e/full/1440,/0/default.jpg",
                       media: "(min-width: 900px)" %>
        <%= tag.img src: "https://iiif-images.library.upenn.edu/iiif/2/d3f5f564-76c9-4911-aa5a-141923718c1e/full/900,/0/default.jpg",
                    alt: "" %>
      <% end %>
    <% end %>
    <% component.with_heading do %>
      <%= tag.h1 t("home.hero_heading"), hero: "heading" %>
    <% end %>
    <% component.with_subheading do %>
      <%= tag.p t("home.hero_subheading"), hero: "sub-heading" %>
    <% end %>
  <% end %>
<% end %>

<div class="dc-home-sections">
  <section class="pl-padding-y-2xl">
    <div class="pl-viewport-margins">
      <h2 class="pl-margin-b-m">
        <%= t("home.collections.heading") %>
      </h2>
      <p class="pl-line-length pl-margin-b-xl dc-home-lede">
        <%= t("home.collections.description") %>
      </p>
    </div>

    <div class="pl-viewport-margins">
      <%= render(CollectionListComponent.new(heading_tag: :h3)) do |component| %>
        <% component.with_collections(Settings.collections.map(&:to_h).sample(10)) %>
      <% end %>
    </div>

    <div class="pl-viewport-margins pl-margin-t-2xl">
      <%= link_to t("home.collections.explore"), collections_path %>
    </div>
  </section>
</div>