<% content_for :header do %>
  <%= render DC::HeaderHeroComponent.new(
    blacklight_config: blacklight_config,
    user: current_user,
  ) do |component| %>
    <% component.with_picture do %>
      <%= tag.picture hero: 'art-direction' do %>
        <%= tag.source srcset: "https://iiif-images.library.upenn.edu/iiif/2/d3f5f564-76c9-4911-aa5a-141923718c1e%2Faccess/full/2400,/0/default.jpg",
                       media: "(min-width: 1440px)" %>
        <%= tag.source srcset: "https://iiif-images.library.upenn.edu/iiif/2/d3f5f564-76c9-4911-aa5a-141923718c1e%2Faccess/full/1440,/0/default.jpg",
                       media: "(min-width: 900px)" %>
        <%= tag.img src: "https://iiif-images.library.upenn.edu/iiif/2/d3f5f564-76c9-4911-aa5a-141923718c1e%2Faccess/full/900,/0/default.jpg",
                    alt: "" %>
      <% end %>
    <% end %>
    <% component.with_heading do %>
      <%= tag.h1 t("home.hero_heading"), hero: "heading" %>
    <% end %>
    <% component.with_subheading do %>
      <%= tag.p link_to(t("home.hero_subheading"), root_path), hero: "sub-heading" %>
    <% end %>
  <% end %>
<% end %>

<div class="dc-home-sections">
  <section class="pl-margin-y-3xl viewport-margins">
    <h2>
      <%= t("home.explore.heading") %>
    </h2>
    <p class="pl-font-size-lg pl-line-length">
      <%= t("home.explore.description") %>
    </p>
    <%= link_to t("home.explore.learn_more"), about_path, class: "pl-font-size-lg" %>
  </section>

  <section class="pl-padding-y-3xl">
    <div class="d-flex justify-content-between align-items-center pl-margin-b-base viewport-margins">
      <h2>
        <%= t("home.collections.heading") %>
      </h2>
      <%= link_to t("home.collections.explore"), collections_path, class: "pl-font-size-lg" %>
    </div>

    <%= render(CollectionListComponent.new(header_tag: :h3)) do |component| %>
      <% component.with_collections(Settings.collections.map(&:to_h).first(7)) %>
    <% end %>
  </section>
</div>