<%# Override DocumentComponent from Blacklight 9.0.0.beta7 to
      - add Clover IIIF Viewer
      - render DocumentActions component %>

<% if document.manifest? %>
  <div class="iiif-viewer-container">
    <div
      data-controller="clover-viewer"
      data-clover-viewer-url-value="<%= document.manifest_url %>"
    ></div>
  </div>
<% end %>

<%= content_tag @component,
  id: @id,
  data: {
    'document-id': document.id.to_s.parameterize,
    'document-counter': counter,
  },
  itemscope: true,
  itemtype: document.itemtype,
  class: classes.flatten.join(' ') do %>
  <%= header %>
  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section">
      <%= title %>
      <%= document_actions %>
      <%= embed %>
      <%= content %>
      <%= metadata %>
      <% metadata_sections.each do |section| %>
        <%= section %>
      <% end %>
      <% partials.each do |partial| %>
        <%= partial %>
      <% end %>
    </div>

    <%= thumbnail %>
  <% end %>
  <%= footer %>
<% end %>
