<div class="accordion-item">
  <h3 class="accordion-header mb-0">
    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#<%= id %>" aria-expanded="<%= expanded %>" aria-controls="<%= id %>">
      <%= header %>
    </button>
  </h3>
  <div id="<%= id %>" class="accordion-collapse collapse show">
    <div class="accordion-body">
      <%= body %>
    </div>
  </div>
</div>