<% if @document.manifest? %>
  <div class="iiif-viewer-container">
    <div
      data-controller="clover-viewer"
      data-clover-viewer-url-value="<%= @document.manifest_url %>"
    ></div>
  </div>
<% end %>

<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <%= header %>
  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section">
      <%= title %>

      <div class="d-flex gap-2">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#download-and-share-modal">Download and share</button>
        <div class="modal fade modal-lg download-and-share-modal" id="download-and-share-modal" tabindex="-1" role="dialog" aria-labelledby="download-and-share-modal-heading" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content download-and-share-modal-content">
              <div class="modal-header">
                <h2 class="modal-title mb-0" id="download-and-share-modal-heading">Download and share</h2>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">

                <!-- for list of files -->
                <ul class="list-group list-group-flush mb-3" style="--bs-list-group-item-padding-x: 0;">
                  <li class="list-group-item d-flex flex-wrap justify-content-between">
                    <span class="d-block">file-name.ext</span>
                    <span class="d-flex gap-3 flex-wrap">
                      <a href="#">Small ext <small>— 1.2 MB</small></a>
                      <a href="#">Original ext <small>— 8 MB</small></a>
                    </span>
                  </li>
                  <li class="list-group-item d-flex flex-wrap justify-content-between">
                    <span class="d-block">file-name.ext</span>
                    <span class="d-flex gap-3 flex-wrap">
                      <a href="#">Small ext <small>— 1.5 MB</small></a>
                      <a href="#">Original ext <small>— 10.5 MB</small></a>
                    </span>
                  </li>
                   <li class="list-group-item d-flex flex-wrap justify-content-between">
                    <span class="d-block">file-name.ext</span>
                    <span class="d-flex gap-3 flex-wrap">
                      <a href="#">Small ext <small>— 2.5 MB</small></a>
                      <a href="#">Original ext <small>— 13.1 MB</small></a>
                    </span>
                  </li>
                </ul>

                <!-- for download PDF and iiif manifest -->
                <div class="accordion" id="download-and-share-accordion">
                  <div class="accordion-item">
                    <h3 class="accordion-header mb-0">
                      <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#download" aria-expanded="true" aria-controls="download">
                        Download all 98 images
                      </button>
                    </h3>
                    <div id="download" class="accordion-collapse collapse show">
                      <div class="accordion-body">
                        <a href="#">PDF <small>— 1.2 MB</small></a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header mb-0">
                      <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#iiif-manifest" aria-expanded="true" aria-controls="iiif-manifest">
                        IIIF Manifest
                      </button>
                    </h3>
                    <div id="iiif-manifest" class="accordion-collapse collapse show">
                      <div class="accordion-body">
                        <p><a href="https://apotheca.library.upenn.edu/iiif/items/4392de39-470f-4601-86ec-9abb388acd93/manifest">https://apotheca.library.upenn.edu/iiif/items/4392de39-470f-4601-86ec-9abb388acd93/manifest</a></p>

                        <p class="mb-0"><a href="https://iiif.io/get-started/why-iiif/">What is IIIF?</a></p>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-secondary">Find this item</button>
      </div>

      <%= embed %>
      <%= content %>
      <%= metadata %>
      <% metadata_sections.each do |section| %>
        <%= section %>
      <% end %>
      <% partials.each do |partial| %>
        <%= partial %>
      <% end %>
    </div>

    <%= thumbnail %>
  <% end %>
  <%= footer %>
<% end %>
